#demo-frame > div.demo {
padding: 10px !important;
}
.scroll-pane {
overflow: auto;
width: 99%;
float: left;
}
.scroll-content {
width: 9400px;
float: left;
}
.scroll-content-item {
width: 100px;
height: 50px;
float: left;
margin: 10px;
font-size: 12;
text-align: center;
}
* html .scroll-content-item {
display: inline;
}
/* IE6 float double margin bug */
.scroll-bar-wrap {
clear: left;
padding: 0 4px 0 2px;
margin: 0 -1px -1px -1px;
}
.scroll-bar-wrap .ui-slider {
background: none;
border: 0;
height: 2em;
margin: 0 auto;
}
.scroll-bar-wrap .ui-handle-helper-parent {
position: relative;
width: 100%;
height: 100%;
margin: 0 auto;
}
.scroll-bar-wrap .ui-slider-handle {
top: .2em;
height: 1.5em;
}
.scroll-bar-wrap .ui-slider-handle .ui-icon {
margin: -8px auto 0;
position: relative;
top: 50%;
}
footer {
	border-top: 1px solid #000;
	background-color: #fff;
	bottom: 0;
	height: 70px;
	margin: 0;
	margin-left: -8px;
	padding: 6px 0 4px 0;
	position: fixed;
	text-align: center;
	width: 100%;
	font-size: 12px;
}
/*jquery UI Overrides*/
.unstable {
	/* Legacy browsers */
	background: url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -moz-linear-gradient(
		top,
		#F7363E,
		#771A1E
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#F7363E),
		to(#771A1E)
	);
	color: #222222;
    font-weight: bold;
}

.working {
	/* Legacy browsers */
	background: url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -moz-linear-gradient(
		top,
		#629AE5,
		#263C59
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#629AE5),
		to(#263C59)
	);
	color: #222222;
    font-weight: bold;
}


.unknown {
	/* Legacy browsers */
	background: url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -moz-linear-gradient(
		top,
		#7643E5,
		#2E1A59
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#7643E5),
		to(#2E1A59)
	);
	color: #222222;
    font-weight: bold;
}

/*Table layout voodoo*/
.trac-url {
    text-align: center;
}
.revisions {
    text-align: center;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
}